@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300 !important;
    background-color: #fcfbfe;
    /* margin-top: 100px; */
    /* text-shadow: 1px 1px 2px#777; */
}

body h1 {
    font-weight: 300;
    margin: 20px 30px;
}

#site-title {
    font-family: 'Press Start 2P', sans-serif;
    display: inline-block;
}

#main-header {
    width: 100vw;
    border-bottom: 2px solid black;
    background: rgba(255, 255, 255, 0.3);
    top: 0px;
    left: 0px;
}

.profile-menu {
    list-style: none;
    float: right;
    margin-top: 30px;
    margin-right: 20px;

}

.submenu {
    list-style: none;
    padding: 0px;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    position: absolute;
    right: 10px;
    display: none;
}

.submenu.active {
    display: block;
}

[data-trigger="dropdown"] {
    padding: 35px;
}

.submenu a {
    display: none;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    color: #333;
    text-shadow: none;
    font-weight: 600;
    letter-spacing: 0px;
}

.submenu a:hover {
    background: #eee;
}
